body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  height: 100%;
  width: 100%;
}

.menu{
  background-color: #4D9AAD;
  display: flex;
  justify-content: space-between;
  padding-left: 8em;
  padding-right: 8em;
}
.logo h1{
  color: #ffffff;
}
.nav-links ul{
  display: flex;
  list-style: none;
}
.nav-links ul li{
  margin: 1em;
}
.nav-links ul li a{
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
}

.profile-pic{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}
.profileimage img{
  height: 200px;
  width: 150px;
  border-radius: 100%;
}
.intro{
  display: flex;
  padding: 2em;
}

.profile-intro{
  text-align: center;
  width: 40%;
}
.profile-intro h1{
  color: #4D9AAD;
}

.profile-intro img{
  width: 20px;
}

.intro-text{
  text-align: center;
  margin-top: 0em;
  display: inline;
}
.textimg{
  display: flex;
  margin-top: -0.5em;
}
.textimg img{
  width: 20px;
  height: 20px;
}
.aboutMe{
  display: flex;
  justify-content: space-between;
  background-color: #4D9AAD;
  padding-left: 8em;
  padding-top: 5em;
  padding-right: 15em;
  padding-bottom: 5em;
}
h3{
  color: #ffffff;
}
.aboutInfo p{
  color: #ffffff;
}

h2{
  color: #4D9AAD;
  padding-left: 5em;
  padding-top: 2em;
}
.serviceitems{
  display: flex;
  justify-content: space-between;
  padding-left: 8em;
  margin-top: -3em;
  padding-top: 5em;
  padding-right: 15em;
  padding-bottom: 5em;
  text-align: center;
  color: #ffffff;
}

.top-text{
  font-weight: 800;
}
.serviceitem{
  width: 25%;
  background-color: #324A50;
  border-radius: 10px;
  padding: 1em;
  -webkit-animation: roll-in-left 2s ease-out both;
}
.serviceitem:hover{
  background-color: #0993b6;
  transition: background 500ms;

}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #4D9AAD;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}
.footer ul{
  display: flex;
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
  margin-right: 1em;
}
.footer p{
  color: #ffffff;
}
.footer ul li a img{
  width: 20px;
  height: 20px;
}



